body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 375px;
    margin-top: 72px;
}

main{
    background-image: url(images/1x/BACKGROUND_1.png);
    min-height: 667px;
}

header{
    position: fixed;
    top: 0;
    background-color: #ffffff;
    height: 72px;
    width: 375px;
}
header img{
    margin-top: 20px;
}

.logo {
    padding-left: 12px;
}

nav {
    position: absolute;
    top: 16px;
    left: 164px;
    width: 200px;
    height: 42px;
    background-color: #DBE6F4;
    display: flex;
    flex-direction: row;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position:left ;
    left: 0;
    background-color: #f1f7ff;
    width: 200px;
    height: 174px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    padding: 12px 21px;
    text-decoration: none;
    color: #000000;
    display: inline-block;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.dropdown-content a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 13px;
    padding-top: 21px;
}

header nav img{
    height: 15px;
    width: 15px;
    position: absolute;
    top: -7px;
    right: 20px ;
}

header nav:hover img{
    height: 15px;
    width: 15px;
    position: absolute;
    top: -7px;
    right: 20px ;
    transform: rotate(180deg);
    transition: 0.3s;
}

.title {
    display: flex;
    padding-right: 22px;
}

.home{
    width: 375px;
    background-color: rgb(255, 255, 255);   
}

.home h2{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
line-height: normal;
}

.home h1{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home main img{
    width: 224px;
    height: 223px;
    padding-left: 76px;
    padding-top: 30px;

}

.home div{
    text-decoration: none;
    background-color: #DBE6F4;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    gap: 10px;
    width: 283px;
    margin-left: 45px;
    margin-bottom: 15px;
    color: #000;
    }

.home div a{
    text-decoration: none;
    color: #000;
}

.hoebegonhet h1{
    color: #637D6F;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-left: 19px;
}

.hoebegonhet p{
    padding-left: 19px;
    line-height: 150%;
    
}

.deceuvel h1{
    color: #637D6F;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-left: 19px;
padding-right: 22px;
}

.deceuvel h2{
    color: #222;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 150%;
padding-left: 19px;
padding-right: 22px;
}

.deceuvel p{
    color: #222;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
padding-left: 19px;
padding-right: 22px;
}

.tuinieren h1{
color: #637D6F;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-left: 21px;
}

p{
    padding-left: 19px;
    padding-right: 22px;
}

.tuinieren h1{
    color: #637D6F;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-left: 19px;
padding-right: 22px;
}

.tuinieren h2{
    color: #6F8F7E;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 150%;
padding-left: 19px;
padding-right: 22px;
}

.tuinieren h3{
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
padding-left: 19px;
padding-right: 22px;
font-style: italic;
}

.tuinieren main div img{
    width: 30%;
    height: 30%;
    padding-top: 10px;
    display: inline-block;
    padding-bottom: 30px;   
}

.tuinieren main div{
    text-align: center;
}

div h3, div p {
    text-align: left;
  }

.ins{
    background-color: #DBE6F4;
}

.ins img{
    position: absolute ;
}


.insider{
    color: #000;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 36px; 
padding-left: 19px;
padding-top: 7px;
}


.final{
    padding-bottom: 50px;
}